.dateButton{
    background: none;
    border:none;
    margin: none;
    padding: none;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#kdata{
    margin-right: 15px;
}

#ddata{
    margin-left: 15px;

}
#taulut{
}
